@using PDF_IT_Yourself.UI.Shared
@inherits LayoutComponentBase

<div class="min-vh-100 d-flex flex-column app-bg">
    <AppHeader/>

    <main class="flex-grow-1">
        <div>
            @Body
        </div>
    </main>

    <AppFooter/>
</div>